<%- include ./partials/header2.ejs %>

<form action="/shreddit/<%=planId%>/<%=workoutId%>?_method=POST" method="POST">
	Name: <input type="text" name="name" value=""/><br/>
    Type: <select name="choice">
      	<option value="weights">Weights</option>
      	<option value="plyos">Plyometrics</option>
      	<option value="cardio">Cardiovascular</option>
      </select>
      <br/>
    Duration: <input type="text" name="duration" placeholder="Minutes" value=""/>
    <h4>Or:</h4>
    Quantity: <input type="text" name="quantity" placeholder="Reps" value=""/><br/>
      
<button type="submit">Add New Activity</button>
</form>