<%- include ./partials/header2.ejs %>
<div class="container text-center">


<h1 class="mt-5"> Please select your workout preference</h1>
<div class="form-group">
<div class="checkbox-group">
<form action="/shreddit" method="POST">
<div class="form-check">
 <input type="checkbox" name="weights" class="form-check-input" id=weights>
    <label class="form-check-label" >Weights</label>
  </div>
   <div class="form-check">
    <input type="checkbox"  name="plyos" class="form-check-input" id="plyos">
    <label class="form-check-label" >Ploymetrics</label>
  </div>
  <div class="form-check">
    <input type="checkbox" name="cardio" class="form-check-input" id="cardio">
    <label class="form-check-label" >Cardiovascular</label>
  </div>
  <h3 class="mt-3 mb-4">Number of Activities per Workout</h3>
  <select name="selectitem" id="numOfActivities">
    <option  value="1">1</option>
    <option  value="2">2</option>
    <option  value="3">3</option>
    <option  value="4">4</option>
    <option  value="5">5</option>
    <option  value="6">6</option>
  </select><br/>

  <label class="mt-3" for="start">Start date:</label>

    <input type="date" id="start" name="startDate"
       value="<%=Date.now()%>"
       min="<%=Date.now()%>" max="2020-12-31">
</div>
  <button class="btn btn-primary mt-3 " type="submit">Create Plan</button>

</form>

</div>
