<%- include ./partials/header2.ejs %>
<div class="container">
<h1 class="text-center mt-5 mb-5">Welcome to Your Shreddit Plan</h1>

<div class="card text-center show-card">

        <ul>
          <% for (let i = 0; i < plans.length; i++) {%>
              <h4 class="mb-3 mt-3"><a href="<%=plans[i]._id%>"><%=plans[i].name%></a></h4>
          <%}%>
          <a class="btn btn-success" href="/shreddit/select-plan">Create New Plan</a>
                
        </ul>
<div>

</div>
